<%- include('partials/header') %>

<main>
    <div class="background_box background_box_with_no_bottom background_box_with_no_bottom--profil">
        <div class="profil">
            <h1><%= prijava.name %></h1>
            <div class="profil__foto_holder">
                <div class="img_holder">
                    <% if(prijava.picture) { %>
                    <img src="/uploads/<%= prijava.picture %>">
                    <% } else { %>
                    <img src="/images/picture_thumb.png">
                    <% } %>
                </div>
                <div class="text_box"><%= prijava.pictureDescription %></div>

                <div class="floating_traka">
                    <p>FOTO</p>
                </div>
            </div>
            <div class="profil__video_holder">
                <div class="video_holder">
                    <% if(prijava.video) { %>
                    <video controls>
                        <source src="/uploads/<%= prijava.video %>" type="<%= type %>">
                    </video>
                    <% } %>
                </div>
                <div class="text_box"><%= prijava.videoDescription %></div>

                <div class="floating_traka">
                    <p>VIDEO</p>
                </div>
            </div>
            <div class="share_div">
                <img class="share_icon" src="/images/share_icon.png" alt="Share on Facebook" />
                <p>share - uj da podržiš ovaj profil</p>
            </div>
        </div>
        <div class="strelica strelica__mobile_only">

        </div>
    </div>

</main>

<%- include('partials/footer') %>