<%- include('partials/header') %>

<main>
    <div class="background_box background_box_with_no_bottom background_box_with_no_bottom--profil">
        <div class="profil">
            <h1 class="h1__title"><%= prijava.name %></h1>
            <% if(prijava.picture) { %>
            <div class="profil__holder profil__foto_holder">
                <div class="img_holder">
                    <a target="_blank" href="<%= process.env.S3_BUCKET + '/' + prijava.picture %>">
                        <img src="<%= process.env.S3_BUCKET + '/' + prijava.picture %>">
                    </a>
                </div>
                <div class="text_box"><%= prijava.pictureDescription %></div>

                <div class="floating_traka">
                    <p>FOTO</p>
                </div>
            </div>
            <% } %>
            <% if(prijava.video) { %>
            <div class="profil__holder profil__video_holder">
                <div class="video_holder">
                    <video controls>
                        <source src="<%= process.env.S3_BUCKET + '/' + prijava.video %>" type="<%= type %>">
                    </video>
                </div>
                <div class="text_box"><%= prijava.videoDescription %></div>

                <div class="floating_traka">
                    <p>VIDEO</p>
                </div>
            </div>
            <% } %>
            <div class="share_div">
                <img id="fhareIcon" class="share_icon" src="/images/share_icon.png" alt="Share on Facebook" />
                <p>share - uj da podržiš ovaj profil</p>
            </div>
        </div>
        <div class="strelica strelica__mobile_only">

        </div>
    </div>

</main>

<%- include('partials/footer') %>