<%- include('partials/header') %>

<main>
    <div class="background_box background_box_with_no_bottom background_box_with_no_bottom--profil">
        <div class="galerija">
            <h1>Galerija</h1>
            <div class="grid_holder">
                <% prijave.map(e => { %>
                <a href="/prijave/<%= e._id %>" class="grid_box">
                    <div class="img_holder">
                        <% const image = e.picture ? process.env.S3_BUCKET + "/" + e.picture : e.video ? "/images/video_thumb.png" : "/images/picture_thumb.png" %>
                        <img src="<%= image %>" alt="Gallery image">
                        <div class="text_holder">
                            <p class="text_no_hover"><%= e.name %></p>
                            <div class="text_on_hover">
                                <p class="name"><%= e.name %></p>
                                <p class="text"><%= e.pictureDescription || e.videoDescription || '' %></p>
                            </div>
                        </div>
                    </div>
                    <img class="share_on_facebook" src="/images/share_icon.png" alt="Share on facebook">
                </a>
                <% }) %>
            </div>
        </div>
        <div class="pagination_arrows">
            <div><a class="<%= page <= 1 ? 'disabled' : '' %>" href="/prijave?page=<%= (page - 1) %>">&#10096; <span>Prethodna</span></a></div>
            <div><a class="<%= prijave.length < 20 ? 'disabled' : '' %>"
                    href="/prijave?page=<%= (page + 1) %>"><span>Sledeća</span> &#10097;</a></div>
        </div>
        <div class="strelica strelica__mobile_only">

        </div>
    </div>
</main>

<%- include('partials/footer') %>